body{
    background-color: #dbf1e4;
    background-image: -webkit-linear-gradient(45deg, #dbf1e4 0%, #f7f7de 100%);
    background-image: -moz-linear-gradient(45deg, #dbf1e4 0%, #f7f7de 100%);
    background-image: -o-linear-gradient(45deg, #dbf1e4 0%, #f7f7de 100%);
    background-image: linear-gradient(45deg, #dbf1e4 0%, #f7f7de 100%);
    font-family: Merriweather,sans-serif;
    

}
.navbar{
    padding: 0;
    background-color: #dee2e6;
}

.navbar-nav{
    display: flex;
    gap: 20px;
}
.nav-item{
    font-size: large;

}
h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    

}
.wrapper{
    margin: 20px 50px;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
.container1{
    display: flex;
    gap: 2rem;
    
    
}
.container1 img{
    width: 500px;
    height:350px;
    border-radius: 10px;
}
.container2{
    margin:2.5rem auto;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    
}
.container2 img{
    width: 400px;
    height: 250px;
    border-radius: 10px;

}
.item{
    margin-bottom: 20px;
}
.text{
    margin-top: 10px;
    margin-right: 2rem;
}
.nav-link:hover{
    color: #96a6f6;
}
.navbar-brand img{
    height: 80px;
    width: 80px;
}
footer{
    text-align: center;
    background-color: #facaf5;
    padding: 20px 0;
    
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
h6{
    margin-bottom: 1rem;
    font-family: cursive ;
}
/*  Adding media query to make website responsive */
/* Mobile Phones (up to 576px) */
@media screen and (max-width: 950px) {
    .container2 {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
    }
}
/* Tablets (between 577px and 768px) */
@media screen and (min-width: 950px) and (max-width: 1350px) {
    .container2 {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
}
/* Small Laptops/Desktops (between 769px and 992px) */
@media screen and (min-width: 1351px) and (max-width: 1800px) {
    .container2 {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
    }
}
/* Large Desktops (over 992px) */
@media screen and (min-width: 1801px) {
    .container2{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
    }
}
@media screen and (max-width: 810px) {
    .container1 {
       flex-wrap: wrap;
       justify-content: center;
    }
}
@media screen and (max-width: 600px) {
    .container1 img {
        width: 100%;
        height: 100%;
       
}
     .item img{
        width:95%;
        height:30%;
     }
     .text{
        width: 100%;
        
     }
}



